.comments-container {
	padding: 12vh 0;
	border-top: 1px solid #efefef;
	.comments-title {
		display: block;
		text-align: center;
	}
}
.respond-container {
	background: #f8f8f8;
	padding: 5vh 0;
	#respond {
		padding: 0;
	}
}
.comment-reply-title {
	display: block;
	line-height: 1;
	text-align: center;
	margin-bottom: 10px;
	
	small {
		display: inline-flex;
		text-transform: uppercase;
		font-weight: 500;	
		margin-left: 10px;
		font-size: 11px;
	}
}
.commentlist {
	list-style: none;
	margin: 0;
	display: block;
	padding: 0;

	&>.comment {
		&:last-child {
			.comment-body {
				margin-bottom: 0;
			}
		}
	}
	#respond {
		background: #f8f8f8;
		padding: 5vh;
	}
	.pingback {
		.comment-body {
			display: inline;
			
			.url {
				font-weight: 700;
			}
		}
	}
	.comment_container {
		position: relative;
	}
	.comment-body,
	.comment-text {
		position: relative;
		padding-left: 58px;
		padding-bottom: 0;
		margin-bottom: 20px;
		padding-top: 20px;
		
		@include min-break($break-small) {
			padding-left: 108px;	
		}
		&:hover .reply a {
			opacity: 1;
		}	
		.star-rating {
			float: right;
		}
		p.meta {
			margin-bottom: 10px;
		}
	}
	.comment {
		margin: 0;
		&:before {
			display: none !important;
		}
		
		
		.comment-meta {
			display: inline-block;
			line-height: 1;
			font-size: 12px;
			color: #a3a3a3;
			margin-left: 5px;
			a {
				color: #a3a3a3;	
			}
		}
		.vcard {
			display: inline-block;
			border: 0;
			padding: 0;
			margin: 0 0 10px;
			line-height: 12px;
			
			.fn {
				font-style: normal;
				font-weight: 700;
				color: $color1;
				
				.url {
					color: $color1;
				}
				&:before {
					display: none;	
				}
			}
			.says {
				display: none;
			}
			
		}
		.avatar {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 20px;
			left: 0;
			border-radius: 50%;
			
			@include min-break($break-small) {
				width: 80px;
				height: 80px;
			}
		}
		.comment-awaiting-moderation {
			font-size: 10px;
		}
		p {
			font-size: 14px;
			word-break: break-word;	
			color: #505050;
		}
		.reply {
			position: absolute;
			top: 25px;
			right: 0;
			font-size: 12px;
			font-weight: 700;
			
			a {
				opacity: 0;
				color: $color2;
			}
		}

		.children {
			list-style: none;
			margin-left: 10px;
			margin-bottom: 20px;
			
			@include min-break($break-small) {
				margin-left: 108px;
			}
		}
		.comment-respond {

		}
	}
}
.comment-respond {
	padding: 2vh 0;
}

.comment-notes {
	text-align: center;
	color: #505050;
}
.comment-form {
	p {
		font-size: 12px;
		text-align: center;
		margin-bottom: 35px;
	}
	textarea {
		height: 117px;
		min-height: 117px;	
	}
}

.woocommerce-Reviews {
	width: 100%;
	margin: 0 auto;
	@include min-break($break-medium) {
		width: 70%;	
	}
	#review_form_wrapper {
		@extend .cf;
	}
	.comment-respond {
		background: #f8f8f8;
		padding: 5vh;
		margin-top: 40px;
		label {
			margin: 0;	
		}
		.comment-reply-title {
			font-weight: 400;
			margin-bottom: 30px;
		}
		p:not(.comment-notes) {
			text-align: left;
			margin: 0;
		}
		p.stars {
			margin-bottom: 20px;
			margin-top: 10px;
		}
		.form-submit {
			justify-content: center;
			display: flex;
			margin: 0;
		}
		textarea,
		input[type="text"],
		input[type="email"] {
			width: 100%;
		}
	}
}

/* Star Rating */
.star-rating {
	display: inline-block;
	position: relative;
	font-size: 12px;
	letter-spacing: 0.2em;
	font-family: FontAwesome;
	color: #dcdcdc;
	&:before {
		font-family: FontAwesome;
		content: "\f005 \f005 \f005 \f005 \f005";
		line-height: 18px;
	}
	&>span {
		display: block;
		top: 0;
		left: 0;
		position: absolute;
		height: 18px;
		line-height: 18px;
		overflow: hidden;
		&:before {
			color: #ffc200;
			content: "\f005 \f005 \f005 \f005 \f005";
		}
		strong {
			display: none;	
		}
	}
	& + .write_first {
		display: inline-block;
		font-size: 13px;
		font-weight: 300;
		color: $color1;
		margin-left: 20px;
		line-height: 18px;
		vertical-align: text-top;
	}
}
.comment-form-rating {
	.stars {
		display: block;
		@extend .star-rating;
		
		&:before {
			content: none;
		}
		&>span {
			position: static;
			&:before {
				content: none;
			}
				
		}
		a {
			position: relative;
			color: #dcdcdc;
			display: inline-block;
			text-indent: -999em;
			width: 15px;
			&:before {
				position: absolute;
				display: block;
				width: 15px;
				text-indent: 0;
				content: "\f005"
			}
			&:hover {
				& ~ a {
					color: #dcdcdc;
				}	
			}
			&.active ~ a {
				color: #dcdcdc;
			}
		}
		&:hover a,
		&.selected a {
			color: #ffc200;
		}
	}
}