.midnightHeader {
	z-index: 5;
	will-change: transform;
	@include backface-visibility(hidden);
	.midnightInner {
		padding: 20px 0;
		@include min-break($break-large) {
			padding: 15px 0;
		}
	}
	&.overflow-enabled:not(.disable-pointers) {
		z-index: 10;
		overflow: visible !important;
		.midnightInner {
			overflow: visible !important;
		}
	}
	&.disable-pointers {
		z-index: 2;
		pointer-events: none;
	}
	&.light-title {
		@extend .white-header;

		.button.black:not(:hover) {
			background: #fff;
			color: $color1;
		}
	}
	&.dark-title {
		.button.white:not(:hover) {
			background: $color1;
			color: #fff;
		}
	}
}

.header {
	.midnight_on & {
		&:before {
			display: none;
		}


	}
}