.thb_3dimg {
	-webkit-tap-highlight-color: rgba(#000,0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transform-style(preserve-3d);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	outline: 1px solid transparent;
	transform-origin: center;
	will-change: transform;
	@include translate3d(0,0,0);
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(0,0,0,0.4), 0 16px 40px rgba(0,0,0,0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);
}
.atvImg-layer {
  position: absolute;
  width: 104%;
  height: 104%;
  top: -2%; 
  left: -2%;
  will-change: transform;
  @include backface-visibility(hidden);
}

.atvImg-shadow {
	position: absolute;
	top: 5%; 
	left: 5%;
	width: 90%;
	height: 90%;
	@include transition(all 0.2s ease-out);
	box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}