@mixin min-break($size) {
	@media only screen and (min-width: $size) { @content; }
}
@mixin max-break($size) {
	@media only screen and (max-width: $size) { @content; }
}
@mixin input-placeholder {
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}
@mixin ie11() {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { @content; }
}
@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}
.reset {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cf {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}
.endcolumn {
	[class*="column"] + [class*="column"]:last-child {
		float: left;
	}
}
.transition {
	@include transition(all 1s $transition);
}
.transition2 {
	@include transition(all 1s cubic-bezier(0.645,.045,.095,1.08));
}
.quick-transition {
	@include transition(all .25s $transition);
}
.mid-transition {
	@include transition(all .5s $transition);
}
.linear-transition {
	@include transition(all 1s linear);
}
.linear-quick-transition {
	@include transition(all .25s linear);
}
.general-shadow-styles {
	&.small-shadow {
		@include box-shadow(0 2px 7px rgba(0,0,0,0.1));
	}
	&.medium-shadow {
		@include box-shadow(0 4px 20px rgba(0,0,0,0.1));
	}
	&.large-shadow {
		@include box-shadow(0 6px 30px rgba(0,0,0,0.1));
	}
	&.xlarge-shadow {
		@include box-shadow(0 8px 40px rgba(0,0,0,0.08));
	}
}
.admin-style {
	.admin-bar & {
		top: 46px;

		@media screen and (min-width: 783px){
		  top: 32px;
		}
	}
}
.thb-preloader {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 20;
	@include translate3d(-50%,-50%,0);
	will-change: opacity;

	.thb-preloader-icon-hexagon {
		fill: transparent;
		.preloader-path {
			stroke-dashoffset: 0;
			animation-name: stroke;
	    animation-duration: 1s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
		}
		@keyframes stroke {
		    to { stroke-dashoffset: 102px; }
		}
	}
	.thb-preloader-icon-circle {
		@include animation(rotator 1.4s linear infinite);

		@keyframes rotator {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(270deg); }
		}
		.path {
		  stroke-dasharray: 187;
		  stroke-dashoffset: 0;
		  transform-origin: center;
		  stroke: $color2;
		  @include animation(dash 1.4s ease-in-out infinite);
		}
		@keyframes dash {
		 0% { stroke-dashoffset: 187; }
		 50% {
		   stroke-dashoffset: 46.75;
		   transform:rotate(135deg);
		 }
		 100% {
		   stroke-dashoffset: 187;
		   transform:rotate(450deg);
		 }
		}
	}
	.pagination-space & {
		opacity: 0;
	}
}

.custom_scroll {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.flex-video {
	margin: 0;

	&.widescreen {
		.vc_video-aspect-ratio-235 & {
			padding-bottom: 42.5%;
		}
	}
}
.center-contents {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cover-bg {
	flex-direction: column;
	background-position: center;
	background-size: cover;
}
.general-shadow-styles {
	&.small-shadow {
		@include box-shadow(0 2px 7px rgba(0,0,0,0.1));
	}
	&.medium-shadow {
		@include box-shadow(0 4px 20px rgba(0,0,0,0.1));
	}
	&.large-shadow {
		@include box-shadow(0 6px 30px rgba(0,0,0,0.1));
	}
	&.xlarge-shadow {
		@include box-shadow(0 8px 40px rgba(0,0,0,0.08));
	}
}
/* Padding Sizes */
.thb-padding-sizes {
	&.regular-padding {
		.columns {
			margin-bottom: 20px;

			@include min-break($break-small) {
				margin-bottom: 30px;
			}
		}
	}
	&.mini-padding {
		margin: 0 -5px;
		.columns {
			padding: 0 5px;
			margin-bottom: 10px;
		}
	}
	&.pixel-padding {
		margin: 0 -1px;
		.columns {
			padding: 0 1px;
			margin-bottom: 2px;
		}
	}
	&.no-padding {
		margin: 0;
		.columns {
			padding: 0;
			margin-bottom: 0;
		}
	}
}
.no-padding {
	margin: 0;

	&>.columns {
		padding: 0;
	}
	@include min-break($break-small) {
		padding: 0;
	}
}
.light-button-text {
	color: #fff;

	&.style1 {
		&:before {
			background: rgba(#fff,0.35);
		}
		&:hover {
			color: #fff;

			&:before {
				background: rgba(#fff,1);
			}
		}
	}
	&.style2 {
		&:before {
			background: rgba(#fff,0.35);
		}
		&:after {
			background: rgba(#fff,1);
		}
	}
	&.style3 {
		&:hover {
			color: #fff;
		}
		span:after {
			background: rgba(#fff,1);
		}
	}
	&.style4 {
		&:hover {
			color: #fff;
		}
		svg {
			&:nth-child(2n) {
				fill: #fff;
			}
		}
	}
	&.style5 {
		&:hover {
			color: #fff;
		}
		svg,
		svg .bar {
			fill: #fff;
		}
	}
}
.columns {

	.vc_editor.compose-mode .vc_element> & {
		width: 100%;
		max-width: 100%;
	}
	.vc_column-inner {
		width: 100%;

	}
	&:not(.full-height) {
		.vc_column-inner:not(.thb-fixed) {
			height: 100%;
		}
	}
	&.thb-light-column {
		color: #fff;

		h1,h2,h3,h4,h5,h6,
		.thb-portfolio .type-portfolio h1, .thb-portfolio .type-portfolio h2,
		.thb-portfolio .type-portfolio.style6 .portfolio-holder,
		.thb-awards-parent,
		.thb-awards .award-container .thb-award-description strong,
		.thb-awards .award-container .thb-award-description b,
		.thb-experience .thb-experience-description strong, .thb-experience .thb-experience-position strong,
		.thb-experience .thb-experience-description b, .thb-experience .thb-experience-position b,
		.thb-experience,
		label {
			color: #fff;
		}
		.thb-awards-parent + .thb-awards-parent {
			border-top-color: rgba(#fff, 0.6);
		}
		.btn-text {
			@extend .light-button-text;
		}
		.btn-text.style4 .arrow svg:first-child {
			fill: #fff;
		}
		.boxed-icon:not(:hover) {
			border-color: rgba(#fff,0.1);
			color: #fff;
			svg {
				fill: #fff;
			}
		}
		.thb-awards .award-container,
		.thb-experience {
			border-bottom-color: rgba(#fff,0.2);
		}
		.wpb_text_column a {
			color: #fff;
			&:after {
				border-bottom-color: #fff;
			}
		}
		.thb-awards .award-container .thb-award-description,
		.thb-experience .experience-date {
			color: #b8b8b8;
		}
		.thb-iconbox figure svg path, .thb-iconbox figure svg circle, .thb-iconbox figure svg rect, .thb-iconbox figure svg ellipse {
			stroke: #fff;
		}
		// Blog Elements
		.post .post-category a,
		.post .post-meta,
		.post .post-meta a {
			color: rgba(#fff,0.8);
		}
		.post .post-title a:not(:hover) {
			color: #fff;
		}
		.post.style2 .blog-post-container {
			background:#000;
		}
		.post.style4 svg {
			fill: rgba(#fff,0.85);
		}
		.post.style5,
		.post.style7 {
			background: rgba(#fff,0.1);
		}
		.post.style1.style8:not(:hover),
		.post.style4:not(:hover) {
			border-color: rgba(#fff,0.2);
		}
	}
}
/* 5 Columns */
.small-1\/5 {
	-webkit-flex: 0 0 20%;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
.thb-5,
.medium-1\/5 {
	@include min-break($break-medium) {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
	}
}

.large-1\/5 {
	@include min-break($break-medium) {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
	}
}
.thb-5-2 {
	@include min-break($break-medium) {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
	}
}

/* Fixed */
.thb-fixed,
.woocommerce-MyAccount-navigation {
	will-change: top;
	@extend .cf;
	@include transition(top .25s $transition);
  @include backface-visibility(hidden);

  @include max-break($break-small) {
  	position: static !important;
  }
}
/*.wf-loading {
	visibility: hidden;
}*/
/* Lazy Load */
.lazyload,
.lazyloading {
	opacity: 0.3;
}
.lazyloaded {
	opacity: 1;
	@include transition(opacity .25s $transition);
}
