.quantity {
	.screen-reader-text {
		display: none;
	}
	.qty {
		font-size: 22px;
		text-align: center;
		width: 48px;
		margin: 0;
		padding: 9px 0 8px;
	}
}
.product-detail {
	.woocommerce-product-gallery {
		margin-bottom: 30px;
		position: relative;
		@include min-break($break-medium) {
			margin-bottom: 0;
		}
		.badge {
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 30;
		}
	}
	.summary {
		.woocommerce-message {
			margin-bottom: 30px;
		}
		@include min-break($break-medium) {
			padding-left: 35px;
		}
		.woocommerce-breadcrumb {
			font-size: 13px;
			margin-bottom: 15px;
		}
		.woocommerce-product-rating {
			margin-bottom: 20px;
		}
		.star-rating {
			display: inline-flex;
			margin: 0;
			vertical-align: middle;
		}
		.woocommerce-review-link {
			display: inline-flex;
			font-size: 14px;
			color: #403f44;
			margin-left: 5px;
			
			.count {
				margin-right: 5px;
			}
		}
		.screen-reader-text {
			display: none;
		}
		.price {
			font-size: 30px;
			font-weight: 300;
			color: #0cbf69;
			
			ins {
				text-decoration: none;	
			}
		}
	}
	h1 {
		font-weight: 400;
		margin-bottom: 20px;	
	}
	
	.quantity {
		float: left;
		margin-right: 27px;
	}
	.product_meta {
		margin-top: 35px;
		font-size: 14px;
		
		&>span {
			display: block;
			
			span,
			a {
				font-weight: 500;
			}	
		}
	}
	.variations {
		margin-bottom: 30px;
		td {
			padding: 0 0 20px;
			
			&.label {
				padding-right: 20px;
				margin: 0;
				line-height: 1;
				label {
					text-transform: uppercase;
					font-size: 14px;
					margin: 0;
					color: rgba(64,63,68,0.6);
				}
			}
			&.value {
				select {
			    color: #403f44;
			    border: 0;
			    background: none;
			    min-width: 160px;
				}
				.reset_variations {
					display: none !important;
				}
			}
		}
	}
	.single_variation_wrap {
		.woocommerce-variation-price {
			display: none;
		}
		.woocommerce-variation-description {
      font-size: 16px;
      
      p {
        font-size: inherit;
      }
    }
  }
	.group_table {
    margin-bottom: 20px;
    td {
      padding-bottom: 15px;
      
      &.woocommerce-grouped-product-list-item__label {
        padding-right: 35px;
        
        label {
          margin: 0;
        }
      }
    }
  }
  
  .woocommerce-tabs {
		border-top: 1px solid #f1f1f1;
		margin-top: 70px;
		padding-top: 70px;
		margin-bottom: 50px;
		.tabs {
			list-style: none;
			text-align: center;	
			font-size: 20px;
			    margin-bottom: 50px;
			li {
				display: flex;
				margin: 0 0 15px;
				@include min-break($break-small) {
					display: inline-flex;
					margin: 0 15px;
				}	
				
				a {
					color: #727272;	
					position: relative;
					&:hover {
						color: $color2;	
					}
					&:after {
						content: '';
						display: block;
						border-bottom: 1px solid $color2;
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						@include transform-origin(50% 50%);
						@include scale(0, 1);
						@extend .quick-transition;
					}
				}
				&.active {
					a {
						color: $color2;	
						
						&:after {
							@include scale(1, 1);
						}
					}
				}
			}
		}
		.wc-tab {
			h2 {
				display: none;	
			}
		}
	}
}

.shop_attributes {
	margin: 0 auto;	
	width: 100%;
	
	@include min-break($break-small) {
		width: 80%;	
	}
	@include min-break($break-medium) {
		width: 60%;	
	}
	tr {
		border-bottom: 1px solid #f1f1f1;	
		th {
			vertical-align: initial;
			text-align: left;
			padding: 20px 0;
			line-height: 1.6;
		}
		td {
			text-align: right;
			padding: 20px 0;
			p {
				font-size: 16px;
				margin-bottom: 0;
			}	
		}
	}
	
}
.product-images {
	max-height: 300px;
	overflow: hidden;
	&.slick-initialized {
		max-height: none;
	}
	&.product-style2 {
		max-height: none;
		overflow: auto;
	}
}
.product-thumbnails {
	margin: 10px -5px;
	max-height: 150px;
	overflow: hidden;
	.woocommerce-product-gallery__image {
		margin: 0 5px;
		opacity: 0.4;
		cursor: pointer;
		will-change: opacity;
		@include transition(opacity .25s $transition);
		&.slick-current {
			opacity: 1;
		}
		&>a {
			display: block;
			pointer-events: none;
		}
	}
}
.related,
.upsells,
.cross-sells {
	border-top: 2px solid #f1f1f1;
	padding-top: 50px;
	margin-top: 20px;
	h2:not(.woocommerce-loop-product__title) {
		display: block;
		text-align: center;
		font-size: 20px;
		font-weight: 400;	
		margin-bottom: 30px;
	}
}