.ajax_add_to_cart,
.add_to_cart_button {
	display: flex;
	align-items: center;
	height: 36px;
	.thb_button_icon {
		display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    min-width: 36px;
    
    svg {
    	width: 14px;
    	height: 14px;	
    }
	}
}

.products {
	list-style: none;
	
	.product {
		margin-bottom: 30px;
		.product_holder {
			background: #f6f6f6;
	    position: relative;
	    border-radius: 3px;
	    overflow: hidden;
	    img {
	    	display: block;
	    	border-radius: 3px;
	    	width: 100%;	
	    }
		}
		.added_to_cart.wc-forward {
			display: none;
		}
		.woocommerce-LoopProduct-link {
			display: block;
			border-radius: 3px;
			@include user-select(none);
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 6;
				overflow: hidden;
				border-radius: 3px;
				@include box-shadow(inset 0 0 0 1px rgba(#000,0.1));
			}
			&:hover {
				color: $color1;	
			}
			.star-rating {
				margin-top: 10px;
			}
		}
		&.thb_hover {
			.product_thumbnail_hover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 5;
				opacity: 0;
				border-radius: 3px;
				@extend .cover-bg;
				@extend .quick-transition;
			}
			&:hover {
				.product_thumbnail_hover,
				.ajax_add_to_cart,
				.add_to_cart_button,
				.product_type_grouped {
					opacity: 1;	
				}
			}
		}
		
		.thb_title_holder {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			z-index: 10;
			@include min-break($break-medium) {
				top: 30px;	
				left: 30px;
				right: 30px;
			}
			h2 {
				font-weight: 400;	
				font-size: 22px;
				line-height: 1.1;
				margin-bottom: 5px;
			}
			.price {
				ins {
					text-decoration: none;	
				}
			}
			.badge {
				margin-top: 12px;
				margin-right: auto;
			}
			.product_style1_color-light & {
				h2,
				.price {
					color: #fff;	
				}
			}
		}
		.ajax_add_to_cart,
		.add_to_cart_button,
		.product_type_grouped {
			display: flex;
			align-items: center;
			height: 36px;
			min-width: 36px;
			border-radius: 18px;
			background: #fff;
			position: absolute;
			bottom: 15px;
			left: 15px;
			z-index: 10;
			opacity: 0;
			@extend .quick-transition;
			@include min-break($break-medium) {
				bottom: 30px;	
				left: 30px;
			}
			font-size: 10px;
			text-transform: uppercase;
			font-weight: 600;
			
			.thb_button_icon {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 36px;
				min-width: 36px;
				
				svg {
					width: 14px;
					height: 14px;	
					
					path {
						stroke-width: 6;	
					}
				}
			}
			&.added {
				background: #0cbf69;
				color: #fff;
				
				svg {
					path {
						stroke: #fff
					}	
				}
			}
			span {
				white-space: nowrap;
				max-width: 0;
				padding: 0;
				overflow: hidden;	
				@extend .quick-transition;
			}
			&:hover {
				span {
					padding-right: 20px;
					max-width: 300px;	
				}
				
			}
		}
		
		&.style2 {
			.product_holder {
				margin-bottom: 20px;
			}
			.thb_title_holder {
				position: static;
				
				.woocommerce-LoopProduct-link {
					&:after {
						content: none;	
					}
				}
			}
		}
	}
}
.thb_shop_bar {
	margin-bottom: 35px;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	color: rgba(#403f44, 0.6);
	
	.breadcrumb-column {
		margin-bottom: 20px;
		@include min-break($break-small) {
			margin-bottom: 0;	
		}
	}
	.result-column {
		@include min-break($break-small) {
			text-align: right;	
		}
	}
	.woocommerce-result-count,
	.woocommerce-ordering {
		display: inline-block;
		margin: 0;
	}
	.woocommerce-result-count {
		font-size: inherit;
		color: rgba(#403f44, 0.6);
	}
	.woocommerce-ordering {
		select {
			color: #403f44;
			border: 0;
			background: none;	
		}
		@include min-break($break-medium) {
			margin-left: 25px;	
		}
	}
}
.badge {
	display: inline-flex;
	font-size: 8px;
	color: $color1;
	font-weight: 600;
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: normal;
	border: 1px solid #000;
	background: #fff;
	&.onsale {
		&.perc {
			font-weight: 400;
		}
	}
	&.out-of-stock {
		background: #fcd1d1;
	}
}