.customer_login {
	margin: 6vh 0;
	
	.row {
		width: 100%;
	}
	.columns {
		display: flex;
	}
	h3 {
		font-weight: 400;
		font-size: 26px;
		& + p {
			font-size: 18px;
		}	
	}
	p {
		&:last-child {
			margin: 0;
		}	
		.woocommerce-password-strength {
			margin-bottom: 10px;
		}
		small {
			line-height: 1.8;
			text-transform: uppercase;
			display: inline-block;
			font-size: 10px;	
		}
	}
	label {
		font-size: 16px;	
	}
	.input-text {
		width: 100%;
		text-align: center;
	}
	.lost_password {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		
		label {
			font-size: 14px;	
		}
	}
	.thb_account_box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex: 1;
		padding: 15%;
		border: 1px solid #f1f1f1;
		text-align: center;
		
		&.register_box {
			background: #fbfbfb;
			border-top: 0;
			@include min-break($break-medium) {
				border-top: 1px solid #f1f1f1;
				border-left: 0;
			}
		}
		
	}
}
.woocommerce-MyAccount-content {
	margin: 30px 0;
	
	legend {
		font-size: 20px;
		font-weight: 400;	
		margin-bottom: 30px;	
	}
	.form-row {
		margin: 0;
	}
	@include min-break($break-medium) {
		padding-left: 4%;	
	}
}
.woocommerce-MyAccount-navigation {
	margin: 30px 0;
	ul {
		list-style: none;
		padding: 0;	
		margin: 0;
		
		li {
			a {
				display: flex;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 12px;
				border-top: 1px solid #f1f1f1;
				border-left: 1px solid #f1f1f1;
				border-right: 1px solid #f1f1f1;
				height: 55px;
				padding: 0 25px;
				align-items: center;
			}	
			
			&:last-child {
				a {
					border-bottom: 1px solid #f1f1f1;
				}	
			}
			&:hover,
			&.is-active {
				a {
					background: $color2;
					color: #fff;
					border-color: $color2;
				}	
				& + li a {
					border-top-color: $color2;	
				}
			}
		}
	}
}
/* My Account */
.addresses {
	margin: 0 -15px;
	.col-1,
	.col-2 {
		float: left;
		width: 100%;
		padding: 0 15px;
		@include min-break($break-small) {
			width: 50%;	
		}
	}
}
.addresses {
	.woocommerce-Address {
		margin-bottom: 40px;
		address {
			line-height: 1.5;
			font-weight: 400;
			margin-bottom: 20px;
		}
		@include min-break($break-small) {
			margin-bottom: 0;	
		}
	}
}