.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.alignright,
.alignleft,
.aligncenter,
.bypostauthor {
	color: inherit;
}

.alignright {
    float: right;
    margin: 0;
}
.alignleft {
    float: left;
    margin: 0;
}
.alignright img,
.alignleft img,
.aligncenter img {
	max-width: 100%;
}
img.center {
	margin: 0 auto;
	display: block;
}
img.full {
	width: 100%;
}
.aligncenter {
	display: block;
    clear: both;
    margin: 0 auto;
}
.alignleft,
.alignright {
	@media only screen and (max-width: $break-small) {
		width: 100%;
		margin: 0 0 20px;
	}
}
.wp-caption {
	max-width: 100% !important;

	&.aligncenter {
		width: 100% !important;
	}
	.wp-caption-text {
		display: block;
		margin: 15px 0;
		font-weight: 500;
		font-size: 11px;
		line-height: 1.45;
		text-align: center;
	}
}

.gallery {
	display: block;
	margin: 0 -2px;
	float: left;
	clear: both;
	&.gallery-columns-2 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 50%;
		}
	}
	&.gallery-columns-3 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 33.33%;
		}
	}
	&.gallery-columns-4 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 50%;
		}
		@media only screen and (min-width: $break-medium) {
			width: 25%;
		}
	}
	&.gallery-columns-5 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 20%;
		}
	}
	&.gallery-columns-6 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 33.33%;
		}
		@media only screen and (min-width: $break-medium) {
			width: 16.66%;
		}
	}
	.gallery-item {
		display: inline-block;
		width: 50%;
		padding: 0 2px;
		margin-bottom: 4px;

		@include single-transition(opacity, 0.2s, ease-in-out);

		&:hover {
			@include opacity(0.8);
		}
		img {
			width: 100%;
			max-width: 100%;
		}
		a {
			line-height: 0;
			display: block;
			width: 100%;
		}
		.gallery-caption {
			display: none;
		}
	}
}
.more-link {
	display: inline-block;
	font-weight: 600;
	font-size:14px;
	text-transform: uppercase;
	color: $color2;
}
[class^="tag-link"] {
	display: inline-block;
	border: 1px solid rgba($color1,0.1);
	color: rgba($color1, 0.6);
	font-size: 10px !important;
	padding: 8px 18px;
	text-transform: uppercase;
	margin: 0 3px 3px 0;
	line-height: 1;
	font-weight: 600;
	border-radius: 500px;
	&:hover {
		background: $color1;
		border-color: $color1;
		color: #fff;
	}
}
.searchform {
	margin: 0;
	fieldset {
		border: 0;
		@extend .reset;

		input[type="text"],
		input[type="search"] {
			width: 100%;
		}
	}
}