@import "compass/css3";
@import 'compass/css3/filter';
@import "compass/css3/user-interface";

$break-small: 40.0625em;
$break-medium: 64.0625em;
$break-large: 75.0625em;
$break-xlarge: 90.0625em;

$transition: cubic-bezier(0.37, 0.31, 0.2, 0.85);

$black: #090909;
$color1: #1f1f1f;
$color2: #ef173b;

$social: (
	facebook: #3b5998,
	facebook-messenger: #0084ff,
	google-plus: #dd4b39,
	linkedin: #007bb6,
	pinterest: #cb2027,
	twitter: #00aced,
	instagram: #3f729b,
	vk: #45668e,
	tumblr: #35465c,
	xing: #cfdc00,
	soundcloud: #f80,
	dribbble: #ea4c89,
	youtube: #e52d27,
	spotify: #7ab800,
	behance: #1769ff,
	deviantart: #4e6252,
	vimeo: #1ab7ea,
	flickr: #0063dc,
	rss: #f26522,
	whatsapp: #25d366,
	twitch: #6441a5,
	fivehundred: #0099e5,
	github: #4078c0,
	codepen: #fcd000,
	telegram: #0088cc,
	imdb: #f5de50
);

/*------------------------------------------------------------------
Foundation
*/
@import "foundation.scss";

/*------------------------------------------------------------------
Utilities
*/
@import "utilities.scss";

/*------------------------------------------------------------------
Structure
*/
@import "structure.scss";

/*------------------------------------------------------------------
Page Transitions
*/
@import "plugin-animsition.scss";

/*------------------------------------------------------------------
Typography
*/
@import "typography.scss";

/*------------------------------------------------------------------
Header
*/
@import "header.scss";
@import "header-midnight.scss";

/*------------------------------------------------------------------
Mobile Menu
*/
@import "mobilemenu.scss";

/*------------------------------------------------------------------
Blog Related
*/
@import "blog.scss";

/*------------------------------------------------------------------
Author
*/
@import "author.scss";

/*------------------------------------------------------------------
Comments
*/
@import "comments.scss";

/*------------------------------------------------------------------
Forms
*/
@import "forms.scss";

/*------------------------------------------------------------------
Wp Specific
*/
@import "wpspecific.scss";

/*------------------------------------------------------------------
Pagination
*/
@import "pagination.scss";

/*------------------------------------------------------------------
Portfolio
*/
@import "portfolio.scss";

/*------------------------------------------------------------------
Vertical - Deck
*/
@import "vertical-deck.scss";

/*------------------------------------------------------------------
Plugin -  Swiper
*/
@import "plugin-swiper.scss";

/*------------------------------------------------------------------
Plugin -  Slick
*/
@import "plugin-slick.scss";

/*------------------------------------------------------------------
Plugin - Flickity
*/
@import "plugin-flickity.scss";

/*------------------------------------------------------------------
Plugin - MFP
*/
@import "plugin-mfp.scss";

/*------------------------------------------------------------------
Plugin -  Perfect Scrollbar
*/
@import "plugin-ps.scss";

/*------------------------------------------------------------------
Plugin - THB_3dImg
*/
@import "thb_3dimg.scss";

/*------------------------------------------------------------------
404
*/
@import "404.scss";

/*------------------------------------------------------------------
Widgets
*/
@import "widgets.scss";

/*------------------------------------------------------------------
Shortcodes
*/
@import "shortcodes.scss";
@import "shortcodes/flipbox.scss";
@import "shortcodes/videolightbox.scss";

/*------------------------------------------------------------------
WooCommerce
*/
@import "woocommerce-shop.scss";
@import "woocommerce-product.scss";
@import "woocommerce-cart.scss";
@import "woocommerce-checkout.scss";
@import "woocommerce-myaccount.scss";



/*------------------------------------------------------------------
Plugin - Full Page
*/
@import "plugin-fullPage.scss";

/*------------------------------------------------------------------
Footer
*/
@import "footer.scss";

/*------------------------------------------------------------------
Cookie Bar
*/
@import "cookiebar.scss";

/*------------------------------------------------------------------
Demo Switcher
*/
@import "demo-switcher.scss";
