/* Video Lightbox */
.thb-video-lightbox {
	position: relative;

	@extend .general-shadow-styles;


	&.inline {
		svg {
			width: 36px;
			height: 36px;
		}
		.thb-video-text {
			font-size: 12px;
		}
	}
	&.large {
		svg {
			width: 96px;
			height: 96px;
		}
	}
	&.xlarge {
		svg {
			width: 128px;
			height: 128px;
		}
	}
	&.lightbox-style1 {
		display: inline-block;
		line-height: 0;
	}
	&.lightbox-style2 {
		.thb-icon-holder {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 5;
			@include translate3d(-50%, -50%, 0);
		}
	}
	&.lightbox-style3 {
		svg {
			display: inline-block;
			vertical-align: middle;
		}

		.thb-video-text {
			display: inline-block;
			vertical-align: middle;
			margin-left: 25px;
			font-size: 16px;
			font-weight: 600;
		}
		&.inline {
			.thb-video-text {
				font-size: 12px;
				margin-left: 20px;
			}
		}
	}
	&.hover-style1 {
    .thb-video-image-holder {
      overflow: hidden;
    }
		img {
			will-change:scale;
			@extend .transition;
		}
		&:hover {
			img {
				@include scale(1.05);
			}
		}
	}
	&.hover-style2 {
		background: $black;
		img {
			will-change: opacity;
			@extend .transition;
		}
		&:hover {
			img {
				opacity: 0.9;
			}
		}
	}
  .thb-icon-holder {
    display: inline-block;
    position: relative;
    line-height: 0;
  }
  &.thb-icon-pulse {
    .thb-icon-holder {
      &:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        display: block;
        content: '';
        border: 1px solid #000;
        border-radius: 50%;
        @include scale(0.35);
        opacity: 0;
        -webkit-animation: pulse-1 2.6s $transition 0.4s infinite;
        animation: pulse-1 2.6s $transition 0.4s infinite;
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        border: 1px solid #000;
        border-radius: 50%;
        @include scale(0.35);
        opacity: 0;
        -webkit-animation: pulse-1 2.6s $transition 0s infinite;
        animation: pulse-1 2.6s $transition 0s infinite;
      }
    }
    @include keyframes(pulse-1) {
      0% {
        @include scale(1);
        opacity: 0.5;
      }

      100% {
        @include scale(1.5);
        opacity: 0;
      }
    }

  }
	.thb-video-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	svg {
		@include backface-visibility(hidden);
		@include translateZ(0);
		.back,
		.front {
			will-change: transform;
			@extend .mid-transition;
		}
		.back {
			@include translateX(-100%);
		}
		.pause {
			display: none;
		}
		&.thb-play-02 {

			.circle1 {
				fill: none;
				stroke-width: 2;
				stroke-miterlimit: 10;
				opacity: 0.5;
				stroke: #000;
			}
			.circle2 {
				fill: none;
		    stroke-width: 2;
		    stroke-miterlimit: 10;
		    opacity: 1;
		    stroke-dasharray: 239;
		    stroke-dashoffset: 239;
		    stroke: #000;
		    @extend .transition;
			}
		}
	}
	&:hover {
		.back {
			@include translateX(0%);
		}
		.front {
			@include translateX(100%);
		}
		svg.thb-play-02 .circle2 {
			stroke-dashoffset: 0;
		}
	}
}